<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.glide01.boxpilot.helper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/io.github.glide01.boxpilot.helper</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>Listener</key>
		<dict>
			<key>SockPathName</key>
			<string>/var/run/io.github.glide01.boxpilot.helper.sock</string>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockPathOwner</key>
			<integer>0</integer>
			<key>SockPathGroup</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Umask</key>
	<integer>63</integer>
	<key>ExitTimeOut</key>
	<integer>30</integer>
	<key>AbandonProcessGroup</key>
	<false/>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>io.github.glide01.boxpilot</string>
	</array>
</dict>
</plist>
